body{
	color:white;
	background-image: url("space.png");
	text-align: center;
}
li{
	list-style-type:none;
}
h2.contents{
	border-bottom:2px solid white;
}
a { 
    color:purple;
    text-decoration:none;
	font-family: courier;
}
a:hover, a:focus {
    text-decoration:underline;
}
a.alvorddays{
	color:	#7d674a;
	background-image: url("sand.jpg");
	background-size: cover;
	border-radius: 25px;
	padding:10px;
	
}