body{
	color:white;
	background-image: url("space.png");
	text-align: center;
}
li{
	list-style-type:none;
}
h2.contents{
	border-bottom:2px solid white;
	text-align:center;
}
a{ 
    color: purple;
    text-decoration:none;
	font-family: courier;
}
.alvorddays{
	color:	#7d674a;
	background-image: url("sand.jpg");
	background-size: cover;
	background-position:center;
	border-radius: 25px;
	padding:10px;
	text-align:center;
}
.spacewestern{
	color: #278a43;
	background-image: url("spacewestern.png");
	background-size: cover;
	background-position:center;
	border-radius: 25px;
	padding:10px;
	text-align:center;
}
.planet4{
	color: #70406A;
	background-image: url("planet4.png");
	background-size: cover;
	background-position:center;
	border-radius: 25px;
	padding:10px;
	text-align:center;
}
.column{
	float: left;
	width: 30%
}
.center{
	align-items:center;
}
.grow{ 
	transition: all .2s ease-in-out; 
	width: fit-content;
	margin: auto;
	filter: gray;
	filter: saturate(30%);
	text-align:center;
}
.grow:hover{ 
	transform: scale(1.1); 
	filter: none;
	filter:saturate(100%);
}
.flex{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	align-content:center;
}
.youtube{
	width:auto;
	height:auto;
}
.instagram{
	width:auto;
	height:auto;
}
.imgbox{
	display:grid;
	height:100%;
}
.lambda{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 58%;
}